body {
  background: no-repeat top;
  background-size: cover;
  background-image: url("/background--dashboard.png");
  font-family: GillSans;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
