body {
  background: no-repeat top;
  background-size: cover;
  background-image: url("/background--dashboard.png");
  font-family: AktivGrotesk;
  font-weight: 100;
}

.slider {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.slide {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 1;

  transition: opacity 0.5s;

  &.active {
    opacity: 1;
    z-index: 2;
  }
}

.dots {
  text-align: center;
  > .dot {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;

    &.active {
      background-color: #fff;
    }
  }
}
