$diameter: 340px;
$score-colour: paleturquoise;

.score-indicator {
  position: relative;
  height: $diameter;
  width: $diameter;
  border-radius: 50%;

  &__current-value {
    font-size: 5rem;
    color: $score-colour;
    & + div {
      margin-top: -0.7em;
    }
  }

  &__desc {
    color: $score-colour;
    margin-top: 2em;
  }

  svg {
    position: absolute;

    circle {
      stroke: $score-colour;
      animation: bounce 3s ease-in forwards;

      transform-origin: center;
      transform: rotateZ(-90deg);
    }
  }
}

@keyframes bounce {
  50% {
    animation-timing-function: ease-in-out;
    stroke-dashoffset: 0;
  }
  60% {
    stroke-dashoffset: 90;
  }
  70% {
    stroke-dashoffset: 0;
  }
  80% {
    stroke-dashoffset: 50;
  }
  85% {
    stroke-dashoffset: 0;
  }
  90% {
    stroke-dashoffset: 15;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
