$diameter: 35vw;
$score-colour: paleturquoise;

.score-indicator {
  /* round shape */
  height: $diameter;
  width: $diameter;
  border-radius: $diameter/2;
  border: 1px solid hsla(0, 0, 100%, 0.7);
  font-size: 1.5em;
  color: white;

  /* centering children */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* blurry background */
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    height: $diameter;
    width: $diameter;
    border-radius: $diameter/2;
    background: hsla(0, 0, 75%, 0.4);
    filter: blur(7px);
  }

  &::before {
    content: "";
    position: absolute;
    height: $diameter;
    width: $diameter;
    border-radius: $diameter/2;
    border: 4px solid $score-colour;
    transform: scale(0.95);
  }

  &__current-value {
    font-size: 6rem;
    color: $score-colour;
    & + div {
      margin-top: -1em;
    }
  }

  &__desc {
    color: $score-colour;
    margin-top: 1.5em;
  }
}
